<!--<nav class="navbar navbar-default navbar-static-top ">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="no-marker">
        <a class="navbar-brand ">Littlehelp</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="current">
        <a href="/"> Home</a>
      </li>
      <li>
          <a href="/study"> Study Material</a>
      </li>
      <li>
        <a href="/upload"> Upload</a>
      </li>
      <li>
        <a href="/pointer"> Pointer</a>
      </li>
    </ul>
  </div>
</nav>
-->
<style>
  body{
      overflow-y: scroll;
  }
</style>
<nav class="navbar navbar-expand-md navbar-dark bg-transparent">
    <a class="navbar-brand" href="/">Littlehelp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
          <span id="marker"></span>
        <li class="nav-item active current px-2">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link" href="/study">Study Material</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link" href="/upload">Upload</a>
        </li>
	    	<li class="nav-item px-2">
          <a class="nav-link" href="/signin">Sign In</a>
        </li>
        <li class="nav-item px-2">
              <a class="nav-link" href="/contact">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>