# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store
#credentials.json
littlehelp-1234-firebase-adminsdk-d12hl-0f753c3350.json

# Docker
Dockerfile
docker-compose.yml
