<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>



  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" >
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class='row'>
            <div class="col-md-2"></div>
            <div class="carousel-card col-md-8">
              <h2>Developers</h2>
              <table class="developers">
                <tr>
                    <td><img src="node.svg" class="img"><br> Prakhar Londhe</td>
                    <td><img src="/developers/govind.webp" class="img"><br> Govind Choudhary</td>    
                </tr>
                <tr>
                    <td><img src="node.svg" class="img"><br> Harsh Hirani</td>
                    <td><img src="/developers/abhijeet.webp" class="img"><br> Abhijeet Jain</td>    
                </tr>
              </table>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
        <div class="carousel-item">
            <div class='row'>
                <div class="col-md-2"></div>
                <div class="carousel-card col-md-8">
                  <h4>Welcome To All new Littlehelp!</h4><br/>
                  <table class="developers">
                      <tr>
                          <td data-src="/study"><img src="/icons/notebook.svg" class="img-icon"><br> Browse Material</td>
                          <td data-src="/upload"><img src="/icons/upload.svg" class="img-icon"><br> Upload Material</td>    
                      </tr>
                      <tr>
                          <td><img src="/icons/ten.svg" class="img-icon"><br> Calculate Pointer</td>
                          <td><img src="/icons/question.svg" class="img-icon"><br> Discuss Queries</td>    
                      </tr>
                    </table>
                </div>
                <div class="col-md-2"></div>
              </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
</body>
<script>
  setTimeout(function(){
    $('.carousel').carousel('next');
  }, 500);
    var left = $('.current').offset().left + 10;
    var width = $('.current').width();
    $('#marker').stop().animate( {  left: left, width: width  }, 0 );
$('.nav-item').mouseover(function(){
  var left = $(this).offset().left + 10;
  var width = $(this).width();
  $('#marker').stop().animate( {  left: left, width: width  }, 500 );
});

$('.nav-item').mouseout(function(){
  var left = $('.current').offset().left + 10;
  var width = $('.current').width();
  $('#marker').stop().animate( {  left: left, width: width  }, 500 );
});

$('td').click(function(){
  var src = $(this).attr('data-src');
  if(src!=undefined){
    location.href = src;
  }
});
</script>
</html>
